@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.login {
  width: 80%;
  max-width: 400px;
}

.dashboard {
  min-height: 90vh;
  background-color: #a6cef7

}
